* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TbcBold';
    src: url('/fonts/TBCXBold.6db5e61d.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TbcMedium';
    src: url('/fonts/TBCXMedium.8ef1248a.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TbcRegular';
    src: url('/fonts/TBCXRegular.dee156cc.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
p,
h3 {
    margin: 0;
}

.photo {
    height: 55%;
    position: relative;
}

.slider-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-logo {
    width: 78px;
    height: 56px;
    position: absolute;
    background-color: #fff;
    top: 20px;
    right: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.slider-container {
    height: 366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    user-select: none;
    grid-column-gap: 15px;
}

.card {
    width: calc(100vw / 1.4);
    border: 1px solid rgb(225, 228, 229);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
@media (min-width: 480px) {
    .card {
        width: calc(100vw / 1.5)
    }
}
@media (min-width: 600px) {
    .card {
        width: calc(100vw / 2.5)
    }
}
@media (min-width: 600px) {
    .card {
        width: calc(100vw / 2.9)
    }
}


.card-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-row-gap: 12px;
}

.card-category {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 12px;
    color: rgb(111 120 123);
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
    grid-column-gap: 12px;
}

.card-description .card-title {
    color: rgb(20, 23, 25);
    font-family: 'TbcBold', 'sans-serif';
    font-size: 14px;
}


.custom-scroll {
    width: 33%;
    height: 2px;
    background: rgb(24 44 192);
    border-radius: 1px;    
    position: absolute;
    bottom: 0;
    left: 0;
    right: unset;
}

.scrollbar-container {
    height: 2px;
    border-radius: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.scrollbar-container-inner {
    position: relative;
    height: 2px;
    background-color: rgb(209 213 214);
    overflow: hidden;
}

@media (min-width: 768px) {
    .card-description .card-title {
        font-size: 16px;
    }
}
@media (min-width: 1440px) {
    .slider-container {
        max-width: 1100px;
    }

    .slider-container .slider {
        padding: 0;
    }
    .slider-container .scrollbar-container {
        padding: 0;
    }

    .slider-container .card {
        width: 366px;
    }
}