* {
    box-sizing: border-box;
}
.inside-content {
    max-width: 1100px;
    margin: 0 auto;
}
@font-face {
    font-family: 'TbcBold';
    src: url('/fonts/TBCXBold.6db5e61d.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TbcMedium';
    src: url('/fonts/TBCXMedium.8ef1248a.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TbcRegular';
    src: url('/fonts/TBCXRegular.dee156cc.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* defaults */
body {
    color: #555f62;
    background-color: rgb(249 250 250);
    font-family: TBCX, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
}

/* Header */
.header-placeholder {
    height: 79px;
    width: 1px;
}

.header-container {
    height: 79px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    z-index: 1001;
    overflow-y: visible;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1100px;
}

.logo {
    background-image: url("/assets/tbc-logo.svg");
    background-size: cover;
    width: 36px;
    height: 32px;
}

.logo-menu-wrapper {
    display: flex;
    align-items: center;
    grid-column-gap: 32px;
}

@media (min-width: 770px) {
    .logo {
        background-image: url("/assets/tbc-logo-larger.svg");
        width: 165px;
        filter: brightness(0) saturate(100%) invert(37%) sepia(16%) saturate(264%) hue-rotate(159deg) brightness(89%) contrast(91%);
    }
}

.header-right-side {
    display: flex;
    align-items: center;
    grid-column-gap: 16px;
}

.search {
    height: 40px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search svg {
    width: 24px;
    height: 24px;
}

.search:hover svg {
    fill: rgb(50 149 206);
}

.search:active svg {
    fill: rgb(39 120 167);
}

.buy-products-link {
    display: flex;
    grid-column-gap: 6px;
}

.blue-arrow-svg {
    transform: translateY(3px);
}

.buy-products-link:hover .blue-arrow-svg {
    fill: rgb(50 149 206);
    transition: all 0.6s ease;
}

.buy-products-link:active .blue-arrow-svg {
    fill: rgb(39 120 167);
    transition: all 0.6s ease;
}

.buy-products-link:hover .buy-products-text {
    color: rgb(50 149 206);
    transition: all 0.6s ease;
}

.buy-products-link:hover .buy-products-text {
    color: rgb(39 120 167);
    transition: all 0.6s ease;
}

.buy-products-text {
    display: block;
    font-family: "TbcBold", sans-serif;
    font-size: 12px;
    color: rgb(24, 44, 192);
    font-weight: bold;
}

/* NAVIGATION */
.navigation {
    overflow-y: auto;
    height: calc(100vh - 79px);
    width: 100vw;
    position: absolute;
    top: 79px;
    left: 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.navigation.active {
    opacity: 1;
    visibility:visible;
}
.nav-list {
    margin-bottom: 32px;
}
.list-item {
    padding: 32px 15px;
    border-bottom: 1px solid #d1d5d6;
}

.item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'TbcBold', 'sans-serif';
    font-size: 18px;
    color: #141719;
    cursor: pointer;
}

.list-item ul {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: max-height 1s ease;
}


.nav-dropdown-item {
    cursor: pointer;
}
.list-item .nav-dropdown-item {
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 16px;
    color: rgb(85, 95, 98);
    margin-top: 20px;
    transition: color .25s ease-in-out;
}
.nav-list-item .nav-dropdown-item:hover {
    color: rgb(24 44 192);
}

.mobile-dropdown-arrow {
    transform: rotate(0);
    transition: all 1s ease;
}

.nav-list-item.active .mobile-dropdown-arrow {
    transform: rotate(180deg);
}

@media (max-width: 380px) {

    header .header-wrapper {
        width: 380px;
        overflow-x: hidden;
    }
}
@media (max-width: 1200px) {
    header .language-change {
        display: none;
    }
}
@media (min-width: 1200px) {
    header .header-wrapper {
        overflow: visible;
    }
}


@media (min-width: 480px) {
    .container {
        padding-left: 45px;
        padding-right: 45px;
    }

    .list-item {
        padding-left: 45px;
        padding-right: 45px;
    }

    header,
    .list-item {
        background-color: #fff;
    }

    .buy-products-text {
        font-size: 14px;
    }

}

@media (min-width: 990px) {
    .navigation {
        height: unset;
    }
    #navigation-footer {
        display: none;
    }
    .header-wrapper {
        width: 1100px;
        margin: 0 auto;
        overflow-x: hidden
    }
    

    .container {
        padding-left: 47px;
        padding-right: 47px;
    }

    .buy-products-text {
        font-size: 14px;
    }

    .navigation {
        position: unset;
        opacity: 1;
        visibility: visible;
        width: unset;
    }

    .list-item {
        padding: 0 0 0 0;
        border-bottom: 0;
    }

    .item-content {
        font-family: 'TbcRegular', 'sans-serif';
        font-size: 14px;
    }

    .mobile-dropdown-arrow {
        display: none;
    }

    .list-item ul {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin: 0 40px;
    }
}

/* MAIN */
/* breadcrums */

.breadcrums {
    display: flex;   
    padding: 16px 0;
    width: 75px;
    justify-content: space-between;
}

.breadcrums-main-page {
    font-family: 'TbcMedium' ,'sans-serif';
    font-size: 12px;
    color: rgb(20 23 25);
    font-weight: 400;
}

/* main section hero */
.section-main-wrapper {
    padding: 32px 0 36px 0;
}
.section-main-tbc-concept-background {
    background-image: url('/assets/section-main-banner-mobile.webp');
}
.section-main-banner {
    position: relative;
    min-height: 360px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    overflow: hidden;
}

.section-main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    /* Adjust the rgba values to change the darkness */
    z-index: 1;
}

.main-banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}

.main-banner-content h1 {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 16px;
    margin-bottom: 16px;
}
.main-banner-content p {
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 14px;
    margin-bottom: 24px;
}

.button {
    position: relative;
    font-family: 'TbcBold', 'sans-serif';
    font-size: 12px;
    color: #fff;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: rgba(50, 149, 206, 0);
    border-radius: 4px;
    border: none;
    transition: background-color .25s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(15deg, rgba(0, 22, 130), rgba(50, 64, 229));
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
    z-index: -1;
}


.button:hover {
    background-color: rgb(50, 149, 206);
}

.button:active {
    background-color: rgb(39 120 167);
}

@media (min-width: 480px) {
    .breadcrums {
        padding: 24px 0;
    }
    .breadcrums-arrow {
        display: none;
    }
    .section-main-wrapper {
        padding: 32px 0 40px 0;
    }
    .section-main-banner {
        min-height: 450px;
    }
    .main-banner-content {
        padding-bottom: 36px;
    }
    .main-banner-content h1 {
        font-size: 24px;
    }
}

@media (min-width: 770px) {
    .section-main-wrapper {
        padding: 32px 45px 50px;
    }
    .section-main-banner {
        border-radius: 6px;
    }
    .main-banner-content p{
        width: 450px;
    }
    .button {
        align-self: flex-start;
    }

}
@media (min-width: 990px) {
    .section-main-wrapper {
        padding: 32px 47px 60px;
    }
    .section-main-banner {
        min-height: 360px;
        align-items: center;
    }
    .main-banner-content {
        padding: 0 0 0 80px; 
    }
}

/* section big message */
.section-big-message {
    padding: 36px 0;
}
.big-message-text {
    font-family: 'TbcMedium', 'sans-serif';
    font-size: 24px;
    color: rgb(20, 23, 25);
    line-height: 1.5;
}
@media (min-width: 480px) {
    .section-big-message {
        padding: 40px 0;
    }
    .big-message-text {
        font-size: 28px;
    }
}
@media (min-width: 767px) {
    .section-big-message {
        padding: 50px 0;
    }
    .big-message-text {
        font-size: 32px;
    }
}
@media (min-width: 767px) {
    .section-big-message {
        padding: 60px 0;
    }
}

/* section-become-concept */
.section-become-concept {
    padding: 36px 0;
}
.heading-wrapper {
    margin-bottom: 20px;
} 

.heading-wrapper h2 {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 14px;
    color: rgb(20, 23, 25);
}
.cards-become-concept {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 234px;
    grid-gap: 20px;
    width: fit-content;
}

.cards-wrapper {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.card-wrapper {
    position: relative;
    padding: 24px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
}
.card-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    /* Adjust the rgba values to change the darkness */
    z-index: 1;
}
.card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    color: #fff;
}
.card-description h3 {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 16px;
}
.arrow-link {
    display: flex;
    gap: 6px;
}

.arrow-link a {
    text-decoration: underline;
    color: #fff;
    font-family: 'TbcBold', 'sans-serif';
    font-size: 14px;
    transition: color .25s ease-in-out;
}
.arrow-link:hover a {
    color: rgb(174 174 174);
    text-decoration: none;
}
.arrow-link:active a {
    color: rgb(255 255 255);
}
.arrow-link svg {
    transition: fill .25s ease-in-out;
}
.arrow-link:hover svg {
    fill: rgb(174 174 174)
}
.arrow-link:active svg {
    fill: rgb(255 255 255);
}

@media (min-width: 480px) {
    .section-become-concept {
        padding: 40px 0;
    }
    .heading-wrapper {
        margin-bottom: 28px;
    }
    .heading-wrapper h2 {
        font-size: 24px;
    }
}
@media (min-width: 768px) {
    .section-become-concept {
        padding: 50px 0;
    }
    .heading-wrapper {
        margin-bottom: 36px;
    }
    .cards-become-concept {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 234px);
        grid-gap: 30px;
        width: 100%;   
    }
    .cards-become-concept .card-wrapper:nth-child(2) {
        grid-row: 1 / -1;
        grid-column: 2 / -1;
    }
    .cards-wrapper {
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .section-become-concept {
        padding: 60px 0;
    }
}

/* Section Numbers */
.section-padding-top-bottom {
    padding: 36px 0;
}
.numbers-wrapper {
    display: grid;
    grid-gap: 16px;
}
.numbers-item {
    display: grid;
    grid-row-gap: 16px;
    padding: 24px;
    background-color: rgb(255 255 255);
}

.numbers-item h2 {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 36px;
    color: rgb(20, 23, 25);
}
.numbers-item p {
    font-family: 'TbcMedium', 'sans-serif';
    font-size: 14px;
    color: rgb(85, 95, 98);
}

@media (min-width: 480px) {
    .section-padding-top-bottom {
        padding: 40px 0;
    }
    .numbers-item {
        padding: 40px 48px;
        grid-row-gap: 30px;
    }
    .numbers-item h2 {
        font-size: 44px;
    }
    .numbers-item p {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .section-padding-top-bottom {
            padding: 50px 0;
        }
}
@media (min-width: 992px) {
    .section-padding-top-bottom {
            padding: 60px 0;
        }
    .numbers-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Section - offers */
.section-offers-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (min-width: 480px) {
    .section-offers-heading {
        margin-bottom: 28px;
    }
}
@media (min-width: 768px) {
    .section-offers-heading {
        margin-bottom: 36px;
    }
}
/* Section Download App */
.get-app-wrapper {
    background-color: rgb(255 255 255);
}
.get-app-inner {
    padding: 32px 0;
    display: grid;
    grid-row-gap: 24px;
}
.button-description-wrapper {
    display: grid;
    grid-row-gap: 24px;
}
.section-heading {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 14px;
    color: rgb(20, 23, 25);
}
.get-app-inner p {
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 14px;
    color: rgb(85, 95, 98);
    line-height: 1.7;
}
.get-app-inner .get-app-img {
    width: 100%;
    max-width: 370px;
    height: 482px;
}
.get-app-button-mobile {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: rgb(24 44 192);
    background-color: rgb(249 250 250);
    border: 1px solid rgb(24 44 192);
    border-radius: 4px;
    padding: 16px 32px;
    font-family: 'TbcBold', 'sans-serif';
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.get-app-button-mobile:hover {
    border-color: rgb(225 228 229);
    background-color: rgb(249 250 250);
}

@media (min-width: 480px) {
    .section-heading {
        font-size: 24px;
    }
    .get-app-inner {
        padding: 45px 0;
        grid-row-gap: 28px;
    }
    
}
@media (min-width: 768px) {
    .get-app-inner {
        height: 300px;
        grid-template-columns: 1fr 370px;
        grid-template-rows: repeat(2, auto);
        position: relative;
    }
    .get-app-inner .get-app-img {
        width: 207px;
        height: 270px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .get-app-inner h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
    }
    .button-description-wrapper{
        max-width: 470px;
        grid-column: 1 / 2;
        grid-row: 2/3;
        grid-row-gap: 16px;
    }
    .get-app-inner .get-app-buttons {
        display: flex;
        align-self: flex-start;
    }
    .get-app-button-mobile {
        justify-self: start;
    }
}
@media (max-width: 991px) {
    .google-play-button,
    .appstore-button {
        display: none;
    }
}
@media (min-width: 992px) {
    .get-app-button-mobile {
        display: none;
    }
    .google-play-button,
    .appstore-button {
        display: flex;
        align-items: center;
        padding: 16px 32px;
        border: 1px solid rgb(225 228 229);
        border-radius: 4px;
        cursor: pointer;
    }
    .google-play-button:hover,
    .appstore-button:hover {
        background-color: rgb(249 250 250);    
    }

    .get-app-buttons {
        display: flex;
        gap: 16px;
    }

}
/* Section Personal Banker */

.section-products .slider-card-description {
    height: auto;
}

.products-card-description p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 12px;
    color: rgb(85, 95, 98);
    line-height: 1.7;
}
@media (min-width: 768px) {
    .products-card-description p {
        font-size: 14px;
    }
}
/* Section Personal Banker */
.section-personal-banker {
    background-image: url('/assets/personal-banker.png');
}
/* Section Rewards */

.section-rewards .card {
    flex-direction: row;
    grid-column-gap: 0;
    padding: 28px;
    background-color: rgb(255 255 255);
    border: none;
}
.section-rewards .slider-card-description {
    padding: 0;
    gap: 16px;
}
.rewards-logo {
    height: 52px;
    display: flex;
}
.rewards-logo img {
    height: 100%;
    object-fit: contain;
}
.section-rewards .card-title {
    line-height: 30px;
}
.section-rewards  {
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 14px;
}

@media (min-width: 768px) {
    .section-rewards .slider-card-description {
        gap: 24px;
    }
}
/* Footer */
.footer-padding-top {
    padding-top: 36px;
}
@media (min-width: 480px) {
    .footer-padding-top {
        padding-top: 40px;
    }
}
@media (min-width: 768px) {
    .footer-padding-top {
        padding-top: 50px;
    }
}
@media (min-width: 992px) {
    .footer-padding-top {
        padding-top: 60px;
    }
}

/* Footer Top */
footer {
    background-color: rgb(255 255 255);
}
.footer-top {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo {
    background-image: url('./assets/tbc-logo-footer.svg');
    width: 36px;
    height: 32px;
}
.language-change {
    position: relative;
    width: 72px;
    height: 40px;
    background-color: rgb(249 250 250);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.language-change::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 72px;
    height: 4px;
    background: transparent;
}

.language {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 14px;
}

.language-list {
    font-family: 'TbcMedium', 'sans-serif';
    font-size: 14px;
    width: 72px;
    height: 49.5px;
    position: absolute;
    display: none;
    top: 44px;
    color: #141719;
    background-color: #fff;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    align-items: center;
    padding: 8px 0;
    box-shadow: 0 4px 6px 2px rgba(12, 43, 67, .05);
    z-index: 1002;
}
.language-change:hover {
    background-color: rgb(238 241 241);
}
.language-change:hover .language-list {
    display: flex;
}
.language-list p {
    width: 100%;
    text-align: center;
    padding: 4px 0;
}
.language-list p:hover {
    background-color: rgb(238 241 241);
}
@media (min-width: 480px) {
    .footer-top {
        padding: 36px 0;
    }
}
@media (min-width: 768px) {
    .footer-top {
        padding: 45px 0 50px;
    }
    .footer-logo {
        background-image: url('./assets/tbc-logo-larger-footer.svg');
        width: 165px;
    }
}
/* footer dropdown  */
.footer-list-wrapper {
    margin: 0 -15px;
}
.footer-list-wrapper .item-content {
    font-size: 16px;
}
.footer-list-wrapper .list-item {
    padding: 24px 15px;
    line-height: 1.5;
}
.footer-list-wrapper .nav-list:nth-child(1) {
        border-top: 1px solid #d1d5d6;
}
.footer-list-wrapper .nav-list{
    margin: 0;
}
.footer-list-dropdown-arrow {
    transform: rotate(0);
    transition: all 1s ease;
}

.footer-list-item.active .footer-list-dropdown-arrow {
    transform: rotate(180deg);
}

@media (min-width: 480px) {
    .footer-list-wrapper {
        margin: 0 -45px;
    }
    .footer-list-wrapper .item-content {
        font-size: 24px;
    }

    .footer-list-wrapper .list-item {
        padding: 36px 45px;
    }
}
@media (min-width: 768px) {
    .footer-list-wrapper {
        margin: 0;
    }
    .navigation .footer-main {
        display: block;
    }
    .footer-main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 16px;

    }
    .footer-list-wrapper .nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
    }
    .footer-list-wrapper .list-item {
        border: none;
        padding: 0;
    }
    .footer-list-wrapper .nav-list:nth-child(1) {
        border-top: none;
    }
    .footer-list-wrapper .dropdown-list {
        margin-top: 24px;
        max-height: 300px;
        overflow: unset;
        display: flex;
        grid-row-gap: 16px;
    }
    .footer-list-wrapper .nav-dropdown-item {
        padding: 0;
        font-family: 'TbcRegular', 'sans-serif';
        color: rgb(85, 95, 98);
        font-size: 14px;
    }
    .footer-list-dropdown-arrow {
        display: none;
    }
    
    .footer-list-wrapper .item-content {
        font-family: 'TbcBold', 'sans-serif';
        font-size: 14px;
        color: rgb(20, 23, 25);
    }
}

/* footer main - contact us  */

.footer-contacts {
    padding: 32px 0;
}

.footer-contacts h2 {
    font-family: 'TbcBold', 'sans-serif';
    font-size: 16px;
    color: rgb(20, 23, 25);
}
.contact-ways {
    display: flex;
    flex-direction: column;
    margin: 32px 0 48px;
    gap: 32px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-ways a {
    font-family: 'TbcMedium', 'sans-serif';
    color: rgb(85, 95, 98);
    font-size: 14px;
}

.contact:hover a {
    text-decoration: underline;
}

.social h2 {
    margin-bottom: 24px;
}
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 52px;
    height: 52px;
    background-color: rgb(249 250 250);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}
.social-icon:hover {
    background-color: rgb(238 238 238);
    color: rgb(24 44 192);
}

@media (min-width: 480px) {
    .footer-contacts {
        padding: 56px 0;
    }
    .footer-contacts h2 {
        font-size: 24px;
    }
    .contact-ways {
        margin: 32px 0;
    }
}
@media (min-width: 768px) {
    .footer-main {
        padding-bottom: 45px
    }
    .footer-contacts{
        padding: 0;
    }
    .navigation .footer-contacts {
        padding: 56px 0;
    }
    .navigation .footer-contacts h2 {
        font-size: 24px;
    }
    .footer-contacts h2 {
        font-size: 14px;
    }
    .navigation .contact-ways {
        gap: 32px
    }
    .contact-ways {
        gap: 16px;
    }
    .social h2 {
        margin-bottom: 16px;
    }
}
@media (min-width: 992px) {
    footer .footer-contacts h2 {
        font-size: 14px;
    }
}

/* footer bottom */
.footer-bottom-wrapper {
    border-top: 1px solid rgb(238 241 241);
    background-color: rgb(249 250 250);
}
.footer-bottom {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-bottom-links {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 30px;
    grid-row-gap: 8px;
    align-items: center;
}
.footer-bottom-links span,
.footer-bottom-logo-wrapper p {
    font-family: 'TbcRegular', 'sans-serif';
    font-size: 14px;
    color: rgb(85, 95, 98);
    cursor: pointer;
}
.footer-bottom-logo {
    height: 32px;
}

.footer-bottom-logo-wrapper {
    display: flex;
    grid-column-gap: 8px;
    align-items: center;
}
@media (min-width: 480px) {
    .footer-bottom {
        padding: 32px 0;
        gap: 32px;
    }
}
@media (min-width: 768px) {
    .footer-bottom-wrapper {
        background-color: rgb(255 255 255);
    }
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-bottom-links {
        grid-column-gap: 35px;
        order: 1;
    }
    .footer-bottom-links span,
    .footer-bottom-logo-wrapper p {
        font-size: 12px;
    }
}
